/*UMUM*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
:root {
    --1: #D8F3DC;
    --2: #B7E4C7;
    --3: #95D5B2;
    --4: #74C69D;
    --5: #52B788;
    --6: #40916C;
    --7: #2D6A4F;
    --8: #1B4332;
    --9: #081C16;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--5); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--8); 
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    width: 100%
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/*NAVBAR*/
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;  
    z-index: 1000; 
}
.nav-scrolled {
    backdrop-filter: blur(10px);
    background-color: #0005;
    color: white;
    transition: 0.5s ease-out;
}

.navbar-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-item {
    float: left;
    margin: 0px 20px;
}
.nav-item a {
    display: block;
    color: var(--9);
    text-align: center;
    padding: 15px 15px;
    margin: 15px 0px;
    text-decoration: none;
    font-size: 18px;
}
.nav-item a:hover {
    color: var(--3);
    transition: all 0.4s ease-in-out;
}
.navbar-brand img {
    float: left;
    height: 80px;
    width: 200px;
    margin: 0px 50px;
}
.navbar-brand img:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

/*HEADER*/
/* BOX 1 */
.box1 {
    background-color: var(--1);
    justify-content: center;
    width: full;
    height: full;
    display: flex;
}
.box1 .picture {
    margin: 90px 50px;
    width: 75%;
}
.box1 .picture img {
    width: 100%;
    height: 100%;
}
.box1 .contents {
    margin: 90px 50px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contents h1 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    color: var(--9);
}
.contents p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--7);
}
.contents button {
    border: none;
    text-decoration: none;
    background-color: var(--5);
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 50px;
    width: 300px;
}
.contents button a {
    color: white;
    font-size: 18px;
}
.contents button:hover {
    background-color: var(--4);
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}
.contents button a:hover {
    color: var(--8);
}

/* FITUR */
.fitur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px 0px 100px 0px;
    font-family: 'Poppins', sans-serif;
}
.cardf-container {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 50px;
}
.card-f {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 370px;
    border-radius: 20px;
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.cardf-picture img {
    height: 200px;
    width: 200px;
}
.card-f h4 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
}
.card-f i {
    display: inline-block;
    align-self: center;
    color: #217BF4;
    padding: 10px;
    font-size: 70px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-f p {
    font-size: 16px;
    max-width: 260px;
}
.card-f:hover {
    transform: translateY(-5px);
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

/*BLOG*/
.blog {
    width: full;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 5rem;
    margin-left: 10px;
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    margin-left: 50px;
}
.content .blogs {
    position: relative;
    background-color: var(--color-grey-5);
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
}
.content .blogs:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.4s ease-in-out;
}
.content .blogs img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
}
.content .blogs:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}
.content .blogs .text {
    margin-top: -7px;
    padding: 1.1rem;
    border-top: 8px solid var(--dark);
}
.content .blogs .text h3 {
    font-size: 24px;
    margin-bottom: 0.7rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.content .blogs .text h3:hover {
    color: var(--font);
}
.content .blogs .text p {
    color: #747b88;
    line-height: 2rem;
    padding-bottom: 1rem;
    text-align: justify;
    font-size: 16px;
}
.box4 {
    width: full;
    margin: 50px auto;
    text-align: center;
    justify-content: center;
    width: full;
}
.box4 h1 {
    color: var(--font);
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 36px;
}
.box4 p {
    color: #747b88;
    text-align: center;
    margin-bottom: 80px;
    font-weight: semibold;
    font-size: 18px;
    margin: auto 250px;
}

/* FOOTER */
.prefooter {
    display: flex;
    padding: 50px 80px;
    gap: 76px;
    background-color: var(--1);
}
.foot-desc {
    display: flex;
    flex-direction: row;
    gap: 200px;
}
.sec h3 {
    color: var(--9);
    font-size: 24px;
    margin-bottom: 20px;
}
.sec p {
    color: #747b88;
    font-size: 16px;
}
.sec img {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}
#footer {
    display: flex;
    background-color: var(--7);
    justify-content: space-around;
    align-items: center;
}

/* RESPONSIVE */

@media screen and (max-width: 900px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 80px;
        background-color: var(--1);
    }
    .navbar-brand {
        height: 30px;
        
    }
    .nav-link {
        display: none;
    }
    .nav-link li {
        display: block;
        margin: 10px 0;
    }
    .nav-link li a {
        color: var(--font);
        font-size: 18px;
    }
    .nav-link li a:hover {
        color: var(--font);
    }
    .nav-link li a.active {
        color: var(--font);
    }
    .nav-link li a.active:hover {
        color: var(--font);
    }
    .nav-link li a.active::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--font);
        margin-top: 5px;
    }
    .nav-link li a.active:hover::after {
        background-color: var(--font);
    }
    header .box1 p {
        text-align: justify;
        width: 75%;
    }
    .fitur {
        display: inline-block;
    }
    .fitur h1 {
        width: 100%;
        margin-bottom: 50px;
    }
    .fitur p {
        padding: auto 20px;
    }
    .cardf-desc h4 {
        font-size: 20px;
    }
    .cardf-desc p {
        font-size: 16px;
    }
    .box4 h1 {
        font-size: 30px;
    }
    .box4 p {
        font-size: 16px;
        width: 100%;
        margin: auto;
    }
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-top: 3rem;
        margin-left: 50px;
    }
    .content .blogs {
        position: relative;
        background-color: var(--color-grey-5);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease-in-out;
    }
    .content .blogs:hover {
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-5px);
        transition: all 0.4s ease-in-out;
    }
    .content .blogs img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        filter: grayscale(100%);
        transition: all 0.4s ease-in-out;
    }
    .content .blogs:hover img {
        filter: grayscale(0);
        transform: scale(1.1);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
    }
    .content .blogs .text {
        margin-top: -7px;
        padding: 1.1rem;
        border-top: 8px solid var(--dark);
    }
    .content .blogs .text h3 {
        font-size: 24px;
        margin-bottom: 0.7rem;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
    }
    .content .blogs .text h3:hover {
        color: var(--font);
    }
    .prefooter {
        display: flex;
        padding: 50px 80px;
        gap: 76px;
        background-color: var(--1);
    }
    .foot-desc {
        display: flex;
        flex-direction: row;
        gap: 200px;
    }
    .sec h3 {
        color: var(--9);
        font-size: 24px;
        margin-bottom: 20px;
    }
    .sec p {
        color: #747b88;
        font-size: 16px;
    }
    .sec img {
        height: 32px;
        width: 32px;
        margin-right: 10px;
    }
    #footer {
        display: flex;
        background-color: var(--7);
        justify-content: space-around;
        align-items: center;
    }
}